<DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    <div th:fragment="navbar">

        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="images/logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" th:href="@{/}">
                        Home
                    </a>
                    <div sec:authorize="isAuthenticated()" class="navbar-item has-dropdown is-hoverable">
                        <a  class="navbar-link">
                            Equipment
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                + Add Equipment
                            </a>
                            <a class="navbar-item">
                                View Equipment
                            </a>
                            <a class="navbar-item">
                                Delete Equipment
                            </a>

                        </div>
                    </div>

                    <div sec:authorize="isAuthenticated()" class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Streams
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" th:href="@{/new_stream}">
                                + Add a Stream
                            </a>
                            <a class="navbar-item">
                                View all Streams
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a sec:authorize="!isAuthenticated()" class="button is-primary" th:href="@{/register}">
                                <strong>Sign up</strong>
                            </a>

                            <a sec:authorize="!isAuthenticated()" class="button is-light" th:href="@{/login}">
                                Log in
                            </a>

                            <form th:action="@{/logout}" method="post">
                                <input sec:authorize="isAuthenticated()" class="button is-dark" type="submit"
                                       value="Log Out"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    </body>
    </html>