<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Edit Equipment</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
<div th:insert="partials/navbar" :: navbar></div>
<div align="center">
  <h1>Edit Equipment</h1>
  <br />
  <form action="#" th:action="@{/editEquipmentSave}" th:object="${equipment}"
        method="post">
    <input type="hidden" th:field="*{id}">

    <table border="0" cellpadding="10">
      <tr>
        <td>Equipment:</td>
        <td>
          <input type="text" th:field="*{Name}" />
        </td>
      </tr>
      <tr>
        <td>Equipment Cost:</td>
        <td><input type="number" th:field="*{Cost}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
