<html>
<header>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">`   `
</header>

<body>
<div class="box";>
<h2 class="hello">Twitch Budget Tool</h2>
    <p>This is a tool for streamers. Here, you can track you're able to track your stream information. You will provide information such as stream day, stream time, and stream earnings. Additionally, you can maintain a wishlist of equ</p>
</div>
</body>
</html>